<mat-sidenav-container [class.myapp-dark-theme]="darkTheme">
  <mat-sidenav #sidenav mode="over">
    <app-sidebar></app-sidebar>
  </mat-sidenav> 
  <div class="site">
    <header>
      <app-header (toggle)="sidenav.open()" (toggleDarkTheme)="switchTheme($event)"> </app-header>
    </header>
    <main>
      <router-outlet></router-outlet>
      <!-- <div class="square" (click)="onClick()" [@square]="squareState"></div> -->
    </main>
    <footer>
      <app-footer></app-footer>
    </footer>
  </div>
</mat-sidenav-container>