<!-- <form #f="ngForm" (ngSubmit)="onSubmit(f, $event)">
  <mat-form-field class="full-width">
    <input matInput type="text" placeholder="在这里快速建立一个任务" [(ngModel)]="desc" name="desc" required>
    <input matInput type="text" placeholder="在这里快速建立一个任务" [ngModel]="desc" (ngModelChange)="desc=$event" name="desc" required>
    <button matSuffix mat-icon-button type="submit"><mat-icon>send</mat-icon></button>
    <mat-error>不能为空哦</mat-error>
  </mat-form-field>
</form>

<div>表单数据：{{ f.value | json}}</div>
<div>表单验证数据：{{ f.valid | json}}</div> -->

<mat-form-field class="full-width">
  <input matInput type="text" placeholder="在这里快速建立一个任务" [(ngModel)]="desc">
  <button matSuffix mat-icon-button type="button" (click)="sendQuickTask()"><mat-icon>send</mat-icon></button>
</mat-form-field>